* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
	font-family: 'Avenir';
}

.heading {
	font-family: 'Helvetica';
}

#container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

#container1 {
	width: 100%;
	max-width: 1248px;
	height: 754px;
	margin: 0 auto;
	background: url(image1.svg) no-repeat bottom right;
	background-size: 885px 468px;
}

/* 1-Top */
#top {
	height: 60px;
	max-width: 1120px;
	min-width: 715px;
	display: flex;
	align-items: center;
	margin-top: 50px;
}

#top-logo {
	margin-right: 121px;
}

.rectangle {
	width: 20px;
	border-radius: 20px;
	display: inline-block;
}

#rectangle1 {
	height: 20px;
	background: #9C69E2;
	margin-right: 5px;
}

#rectangle2 {
	height: 35px;
	background: #F063B8;
}

#navbar {
	margin-right: auto;
}

.nav-item {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	color: #4B5D68;
	margin-right: 20px;
}

.nav-active {
	font-weight: 800px;
	color: #212353;
}

#demo-btn {
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.005em;
	color: #212353;
	width: 210px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
}

/* 1-Headline */
#headline {
	/* width: 51.68%; */
	margin-top: 130px;
}

#headline-title {
	width: 645px;
	height: 184px;
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 110%;
	display: flex;
	align-items: center;
	color: #212353;
}

#headline-about {
	width: 380px;
	height: 120px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	margin-top: 50px;
	/* or 29px */


	/* 1 */

	color: #4B5D68;
}

#headline-learn-more {
	width: 170px;
	height: 60px;
	background: #9C69E2;
	border-radius: 50px;
	border: none;
	margin-top: 50px;
}

/* Container 2 */
#container2 {
	width: 1117px;
	height: 560px;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	margin-top: 99px;
}

#img2 {
	width: 477px;
	height: 504px;
	float: left;
}

#text-2 {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title-2 {
	width: 475px;
	height: 100px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	/* or 52px */

	display: flex;
	align-items: center;

	color: #212353;
}

#about-2 {
	width: 474px;
	height: 170px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	margin-top: 40px;
	/* or 29px */


	/* 1 */

	color: #4B5D68;
}


/* Container 3 */
#container3 {
	clear: both;
	width: 1137.28px;
	height: 1026px;
	margin-top: 150px;
}

#features-title {
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	/* identical to box height, or 52px */
	color: #212353;
}

#features-desc {
	width: 584px;
	height: 58px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */

	text-align: center;
	margin: 50px auto 0 auto;

	/* 1 */

	color: #4B5D68;
}

#features-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
}

.card-heading {
	width: 200px;
	height: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */

	display: flex;
	align-items: center;

	color: #212353;
}

.card {
	width: 531.29px;
	height: 388px;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
}

#card1 {
	background: url(card-background1.svg) no-repeat;
	background-position: top right;
}
#card2 {
	background: url(card-background2.svg) no-repeat;
	background-position: top right;
}
#card3 {
	background: url(card-background3.svg) no-repeat;
	background-position: top right;
}
#card4 {
	background: url(card-background4.svg) no-repeat;
	background-position: top right;
}

#card-image1 {
	width: 232px;
	height: 211px;
}

#card-image2 {
	width: 241px;
	height: 185px;
}

#card-image3 {
	width: 245px;
	height: 181px;
}

#card-image4 {
	width: 230px;
	height: 201px;
}

.card-txt {
	align-self: start;
}

.card-heading {
	width: 200px;
	height: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */

	display: flex;
	align-items: center;

	color: #212353;
	margin-bottom: 20px;
	margin-top: 49px;
}

.card-desc {
	width: 220px;
	height: 160px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */


	/* 1 */

	color: #4B5D68;
	margin-bottom: 20px;
}

#container4 {
	width: 1578px;
	height: 709px;
	padding: 0;
	margin-top: 150px;
	margin-bottom: 150px;
}

#container4-sub {
	width: 1118px;
	height: 709px;
	background: #9C69E2;
	border-radius: 50px;
	padding-top: 109px;
	padding-left: 93px;
	/* overflow: hidden; */
}

#container4-title {
	margin-bottom: 88px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

#carousel {
	display: flex;
}

#carousel-text {
	margin-right: 70px;
}

.carousel-name {
	width: 170px;
	height: 29px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 160%;
	display: flex;
	align-items: center;
	letter-spacing: 0.005em;
	color: #212353;
	margin-top: 80px;
}

.carousel-title {
	width: 101px;
	height: 22px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
	color: #9C69E2;
}

.carousel-desc {
	/* width: 385px; */
	height: 130px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 180%;
	color: #4B5D68;
	margin-right: 70px;
	margin-top: 19px;
}

#person2 .carousel-text {
	margin-left: 20px;
}

.person, #person2-content {
	display: grid;
	grid-template-columns: 1fr 2.5fr;
}

#person1 {
	min-width: 645px;
	height: 330px;
	background: #FFFFFF;
	box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
	border-radius: 20px;
	margin-right: 20px;
	
}

#person2 {
	min-width: 600px;
	height: 330px;
	background: #FFFFFF;
	box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.1);
	border-radius: 20px;
}

#person2-content {
	width: 400px;
	height: 330px;
	background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
	border: 1px solid #9C69E2;
	box-sizing: border-box;
	border-radius: 20px;
}

.person img {
	width: 90px;
	height: 90px;
	margin-top: 60px;
	margin-left: 70px;
}

.carousel-position {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #FFFFFF;
}

#container5 {
	width: 1118px;
	margin-bottom: 96px;
}

#container5-sub {
	width: 100%;
	margin: 0 auto;
	height: 110px;
	margin-top: 100px;
	margin-bottom: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	display: flex;
	justify-content: space-between;
	width: 1117px;
	height: 408px;
}

#footer-title {
	width: 405px;
	height: 52px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	/* identical to box height, or 52px */

	display: flex;
	align-items: center;

	color: #212353;
}

#footer-desc {
	width: 584px;
	height: 29px;
}

#footer-learn-more {
	width: 170px;
	height: 60px;
	background: #F063B8;
	border-radius: 50px;
	border: none;
}

#footer-request-btn {
	width: 170px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	border: none;
}

#footer-col1-header {
	display: flex;
	align-items: center;
	margin-bottom: 67px;
}

#footer-logo {
	margin-right: 20px;
}

#fcol1-title {
	width: 153px;
	height: 30px;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 160%;
	color: #212353;
}

#fcol1-row2 {
	width: 335px;
	height: 65px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */

	letter-spacing: 0.01em;
	color: #212353;
	margin-bottom: 10px;
}

#fcol1-row3 {
	width: 335px;
	height: 60px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */

	letter-spacing: 0.01em;

	/* 2 */

	color: #212353;
	margin-bottom: 118px;
}

#fcol1-row4 {
	width: 360px;
	height: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 180%;
	/* or 22px */

	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
	color: #212353;
}

.footer-col-list {
	list-style-type: none;
	width: 166px;
	height: 160px;
}

.fcol-title {
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */


	/* 2 */

	color: #212353;
	margin-bottom: 30px;
	margin-top: 15px;
}

.fcol-row {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 250%;
	/* or 40px */


	/* 2 */

	color: #212353;
}

.social-background {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: #212353;
	border-radius: 50px;
	opacity: 0.1;
	margin-right: 14px;
}

#footer-col4 {
	display: flex;
	flex-direction: column;
}

#social-icons {
	margin-bottom: auto;
}

#footer-col4 > img {
	width: 60px;
	height: 60px;
	display: block;
	margin-left: auto;
}